.resultsContainer {
  height: 75vh;
  width: auto;
  background-color: rgba(255, 255, 255, 0.199)smoke;
  z-index: 15;
  position: absolute;
  top: 50%;

}

.card {
  box-shadow: 7px 5px 9px 0px grey;
}

.card:hover {
  transform: scale(1.2);
}
