

.cardContainer {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  padding: 0 5rem;

  width: 100%;
  box-sizing: border-box;

}


.card {
  box-shadow: 7px 5px 9px 0 grey;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
