
.cardContainer {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    width: 100%;
    box-sizing: border-box;
}

.card {
    box-shadow: 7px 5px 9px 0 grey;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.filterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    padding: 0 8px;
}

select {
    background-color: var(--primaryColor);
    color: var(--color);
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 14px;
    appearance: none;
    cursor: pointer;
    margin-right: 8px;
}

select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 30px;
}

select:hover {
    background-color: var(--tertiaryColor);
    border-color: var(--borderColor);
}

select:focus {
    outline: none;
    border-color: #5f9eff;
    box-shadow: 0 0 0 2px var(--boxShadow);
}

@media (max-width: 768px) {

    select {
        min-width: 70%;
        margin-right: 0;
    }

    button {
        margin-top: 8px;
        margin-left : 0;
        width: 70%;
    }
}

@media (max-width: 480px) {
    select {
        min-width: 70%;
        margin-bottom: 8px;
        margin-right: 0;

    }
    button {
             margin-top: 8px;
             margin-left : 0;
             width: 70%;
         }
}

