.cardContainer {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    width: 100%;
    box-sizing: border-box;

}

.card {
    box-shadow: 7px 5px 9px 0 grey;
    width: 240px;
    height: 330px;
    border-radius: 10px;

    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}






