.resultContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem;
  height: 100%;
}

.paginationContainer {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  gap: 0.5rem;

  @media screen and (max-width : 420px) {
    width: auto;
  }
}

.globalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
