.accountInfos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 15vw;

}
.lastCard,
.accountContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 15px;
    width: 100%;
}

.lastCard,
.accountContainer h3 {
    color: var(--colorBis);
}


.lastCard p {
    cursor: pointer;
    color: var(--color);
}

.lastCard p:hover {
    color: var(--colorTer);
}

.buttonConfirmAccount {
    width: auto;
    margin-left: 0;
}

.accountNumberCard {
    width: 100%;
}

.confirmationModal {
    position: absolute;
    background-color: var(--tertiaryColor);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 0.2rem;
}

.buttonConfirm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .accountInfos {
        width: 100%;
    }

    .lastCard,
    .accountContainer{
        width: 90%;
    }

    .confirmationModal {
        justify-content: space-evenly;
    }

    .buttonConfirm {
        width: 50%;
        gap: 2rem;
    }

    .buttonUpdate {
        background-color: var(--secondaryColor);
    }
}


