.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  border-bottom: 1px solid grey;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 1rem;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 1rem
}

a.active {
  text-decoration: none;
  color: white;
}

@media screen and (max-width : 400px) {
  .header {
    display: none
  }

  ;

}
