.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  padding: 20px;
  background-color: #1f2937;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: #38bdf8;
  font-weight: bold;
}


.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 1rem;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 1rem
}

a.active {
  text-decoration: none;
  color: white;
}

@media screen and (max-width : 400px) {
  .header {
    display: none
  }
}
