.accountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 75vh;
    background: linear-gradient(145deg, var(--primaryColor) 0%, var(--secondaryColor) 100%);
    color: var(--color);
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    max-width: 95%;
    min-width: 75vw;
    padding: 25px 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border: 2px solid var(--borderColor);
}

.accountInfosContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.changePassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.accountInfos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 15vw;
    height: 20%;
}

.buttonConfirmAccount {
    width: auto;
    margin-left: 0;
}

.accountNumberCard {
    width: 100%;
}

.confirmationModal {
    position: absolute;
    background-color: var(--tertiaryColor);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 0.2rem;

}

.buttonConfirm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .accountContainer {
        width: 80vw;
    }

    .accountInfosContainer {
        flex-direction: column;
    }

    .accountInfos {
        position: static;
    }

    .confirmationModal {
        justify-content: space-evenly;
    }

    .buttonConfirm {
        width: 50%;
        gap: 2rem;
    }
}


