.setContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1.5rem;
  height: 100%;
}

.setCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px grey solid;
  border-radius: 15px;
  width: 20rem;
  height: 20rem;
  box-shadow: 5px 1px 15px grey;
  background: linear-gradient(58deg, #585e56, #87a399, #47606d);
  background-size: 300% 300%;
  animation: gradient-animation 20s ease infinite;

}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.setCard:hover {
  translate: 5px -5px;
}

.setName {
  font-size: 1.5rem;
  font-weight: bold;
}

.setImg {
  width: 45%;
  height: auto;
}

.loadingGif {
  position: absolute;
  top: 40%;
  left: 40%;

}

.paginationContainer {

  bottom: 1rem;

}
